<%= form_tag sessions_path do %>
<br><br><br>
  <center><div class="field">
    <%= label_tag :Nombre_de_usuario %>
    <%= text_field_tag :username, params[:username] %>
  </div><br>
  <div class="field">
    <%= label_tag :Clave %>
    <%= password_field_tag :password %>
  </div>
  <div class="field">
    <p style = "font-size:15px" ><%= check_box_tag :remember_me, 1, params[:remember_me] %> Recordarme</p>
  </div><br>
  <div class="actions"><%= submit_tag "Ingresar", :class => 'btn btn-info' %></div>
  </center>

  <%= link_to 'Inicio', sessions_path %>
<% end %>