<%= simple_form_for(@tiposdeidentificacion, :html => { :class => 'form-horizontal' }, :remote => true) do |f| %>


  <%= f.input :descripcion, :label => "Descripción" %>
  <%= f.input :sigla, :label => "Sigla" %>

  
  
  <div class="form-actions">
    <%= f.submit "guardar", :class => 'btn btn-primary' %>
    <%= link_to 'Atras', tiposdeidentificaciones_path, :class => 'btn btn-small' %>
  </div>
<% end %>
