<tr id=<%= "tiposdeidentificacion_#{tiposdeidentificacion.id}" %>>
  <td><%= link_to tiposdeidentificacion.id, edit_tiposdeidentificacion_path(tiposdeidentificacion), :remote => true %></td>
  <td><%= tiposdeidentificacion.descripcion %></td>
  <td><%= tiposdeidentificacion.sigla %></td>
 <td>
    <div class="btn-group">
      <button class="btn btn-mini btn-info"> Opciones </button>
      <button class="btn btn-mini btn-info dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" >

    <li><%= link_to 'Mostrar', tiposdeidentificacion, :remote => true, :class => 'btn btn-mini', :style => "color:black" %></li>

    <li><%= link_to 'Editar', edit_tiposdeidentificacion_path(tiposdeidentificacion), :remote => true,
        :class => 'btn btn-mini', :style => "color:black" %></li>

    <li><%= link_to 'Eliminar', tiposdeidentificacion,
        :data => { :confirm => 'Esta Seguro?' },
        :method => :delete, :remote => true, :class => 'btn btn-mini btn-danger', :style => "color:white" %></li>
        </ul>
    </div>
  </td>
</tr>
