<tr id=<%= "obsequio_#{obsequio.id}" %>>
  <td><%= obsequio.id %></td>
  <td><%= obsequio.descripcion %></td>
  
  <td>
    <div class="btn-group">
      <button class="btn btn-mini btn-info"> Opciones </button>
      <button class="btn btn-mini btn-info dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" >

      <li><%= link_to 'Mostrar', obsequio, :remote => true, :class => 'btn btn-mini', :style => "color:black" %></li>

      <li><%= link_to 'Editar', edit_obsequio_path(obsequio), :remote => true,
        :class => 'btn btn-mini', :style => "color:black" %></li>

      <li><%= link_to 'Eliminar', obsequio, 
        :data => { :confirm => 'Esta Seguro?' },
        :method => :delete, :remote => true, :class => 'btn btn-mini btn-danger', :style => "color:white" %></li>
        </ul>
    </div>
  </td>
</tr>
