<tr id=<%= "obsequio_#{obsequio.id}" %>>
  <td><%= obsequio.id %></td>
  <td><%= obsequio.descripcion %></td>
  
  <td>
    <%= link_to 'Mostrar', obsequio, :remote => true, :class => 'btn btn-success btn-mini' %>
    <%= link_to 'Editar', edit_obsequio_path(obsequio), :remote => true,
        :class => 'btn btn-mini' %>
    <%= link_to 'Eliminar', obsequio, 
        :data => { :confirm => 'Esta Seguro?' },
        :method => :delete, :remote => true, :class => 'btn btn-mini btn-danger' %>
  </td>
</tr>
