<tr id=<%= "contacto_#{contacto.id}" %>>
  <td><%= contacto.id %></td>
  <td><%= contacto.empresa.nombre %></td>
  <td><%= contacto.nombre %></td>
  <td><%= contacto.celular %></td>
  <td><%= contacto.email %></td>
  <td><%= contacto.fecha_nacimiento %></td>
 
  <td>
    <div class="btn-group">
      <button class="btn btn-mini btn-info"> Opciones </button>
      <button class="btn btn-mini btn-info dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" >

      <li><%= link_to 'Mostrar', contacto, :remote => true, :class => 'btn btn-mini' %></li>

      <li><%= link_to 'Editar', edit_contacto_path(contacto), :remote => true, :class => 'btn btn-mini' %></li>

      <li><%= link_to 'Eliminar', contacto, 
        :data => { :confirm => 'Esta Seguro?' },
        :method => :delete, :remote => true, :class => 'btn btn-mini btn-danger' %></li>
        </ul>
    </div>
  </td>
</tr>
