<%= simple_form_for(@contacto, :html => { :class => 'form-horizontal', :multipart => true }, :remote => true) do |f| %>

  <%= f.error_notification %>
 

  <%= f.label :empresa_id %> 
 <div class = "span4"> <%= f.collection_select :empresa_id, Empresa.all, :id, :nombre, :prompt => 'Seleccionar' %> </div>
 <br><br><br>

  <%= f.label :Foto %>

  <div class="span2">
  <%= image_tag @contacto.avatar.url(:small) %>
  </div>
  <br>
  <%= f.file_field :avatar %>
 <br><br><br>

  <%= f.input :nombre, :label => "Nombre"   %>
  <%= f.input :celular, :label => "Celular"  %>
  <%= f.input :email, :label => "Email" %>
  <%= f.input :fecha_nacimiento, :label => "Fecha de Nacimiento" %>
  
  
   <div class="form-actions">
    <%= f.submit "guardar", :class => 'btn btn-primary' %>
    <%= link_to 'Atras', contactos_path, :class => 'btn btn-small' %>
  </div>
<% end %>


