<%= simple_form_for(@contacto, :html => { :class => 'form-horizontal' }, :remote => true) do |f| %>


  <%= f.input :empresa_id, :label => "Empresa" %>
  <%= f.input :nombre, :label => "Nombre" %>
  <%= f.input :celular, :label => "Celular" %>
  <%= f.input :email, :label => "Email" %>
  <%= f.input :fecha_nacimiento, :label => "Fecha de Nacimiento"%>
  
 
   <div class="form-actions">
    <%= f.submit "guardar", :class => 'btn btn-primary' %>
    <%= link_to 'Atras', contactos_path, :class => 'btn btn-small' %>
  </div>
<% end %>
