<%= simple_form_for([@empresa, @contacto], :html => { :class => 'form-horizontal' }, :remote => true) do |f| %>

  <%= javascript_include_tag "contacto" %>

   

  <%= f.input :nombre, :label => "Nombre" %>
  <%= f.input :extension, :label => "Extension" %>
  <%= f.input :celular, :label => "Celular" %>
  <%= f.input :email, :label => "Email" %>
  <%= f.input :fecha_nacimiento, :label => "Fecha", :input_html => { :class => 'datepicker' } %>
  
 
   <div class="form-actions">
    <%= f.submit "guardar", :class => 'btn btn-primary' %>
    <%= link_to 'Atras', empresa_contactos_path, :class => 'btn btn-small' %>
  </div>
<% end %>
