<%- model_class = Contacto-%>
<div class="page-header">
  <h1>Contactos de <%= @empresa.nombre %></h1>
</div>

<div class='gen'>
  <p><b>Id:</b> <%= @contacto.id %></p>
  <p><b>Nombre:</b> <%= @contacto.nombre %></p>
  <p><b>Extension:</b> <%= @contacto.extension %></p>
  <p><b>Celular:</b> <%= @contacto.celular %></p>
  <p><b>Email:</b> <%= @contacto.email %></p>
  <p><b>Fecha de nacimiento:</b> <%= @contacto.fecha_nacimiento %></p>
 
 
 
</div>

<td><%= link_to image_tag("pdf.png"), empresa_contacto_path(@contacto, :format => "pdf") %></td>