<tr id=<%= "preferencia_#{preferencia.id}" %>>
  <td><%= link_to preferencia.id, edit_huesped_preferencia_path(@huesped, preferencia), :remote => true %></td>
  <td><%= preferencia.tiposdehabitacion.descripcion %></td>
  <td><%= preferencia.numero_almohada_en_cama %></td>
  <td>
    <div class="btn-group">
      <button class="btn btn-mini btn-info"> Opciones </button>
      <button class="btn btn-mini btn-info dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" >

      <li><%= link_to 'Mostrar', huesped_preferencia_path(@huesped, preferencia), :remote => true, :class => 'btn btn-mini', :style => "color:black" %></li>

      <li><%= link_to 'Editar', edit_huesped_preferencia_path(@huesped, preferencia), :remote => true,
        :class => 'btn btn-mini', :style => "color:black" %></li>

      <li><%= link_to 'Eliminar', huesped_preferencia_path(@huesped, preferencia), 
        :data => { :confirm => 'Esta Seguro?' },
        :method => :delete, :remote => true, :class => 'btn btn-mini btn-danger', :style => "color:white" %></li>
       </ul>
    </div>   

</tr>