<%- model_class = Preferencia -%>
<div class="page-header">
  <h1><%= image_tag @huesped.avatar.url(:thumb), :class => "img-rounded img-polaroid" %> &nbsp; &nbsp; &nbsp; &nbsp; Preferencias de <%= @huesped.primer_nombre %></h1>
</div>

<form method="get" class="form-search">

  <div class="input-append">

    <%= content_tag :label do %> 

    <%= text_field_tag :limit, params[:limit] , :id=>'num', :class => "span1 search-query" %> 

    <% end %>

    <button type="submit" class="btn btn-info">Mostrar</button>
 
  </div>

  <div class="input-append sea">

      <%= text_field_tag :search, params[:search], :class => "span2 search-query ", :placeholder => "Buscar Registro" %> 

      <button type="submit" class="btn btn-info"><i class="icon-search"></i></button>
       
  </div>

</form>

<br><br> 

<table class="table table-hover table-bordered table-condensed pretty">
  <thead>
    <tr>
      <th><%= sortable 'id' %></th>
      <th> <%= sortable 'tiposdehabitacion_id'%> </th>
      <th> <%= sortable 'numero_almohada_en_cama' %> </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
     <%= render @preferencias %>
  </tbody>
  </table>
  <tfoot>
    <tr>
      <td><%= link_to 'Nueva Preferencia',new_empleado_huesped_preferencia_path, :remote => true, :class => "btn btn-info" %></td> 
      <td><%= link_to 'Huéspedes', empleado_huespedes_path, :class => "btn btn-info", :style => "color:white" %></td>
    </tr>
  </tfoot>

<hr>

<div class="flickr_pagination" > 
  <div class="page_info">
      <p><b> Total Preferencias :</b> <%= @preferencias.total_entries %> </p>
    </div>
    <%= will_paginate @preferencias, :container => false, :previous_label => '&larr; Anterior', :next_label => 'Siguiente &rarr;' %>
  </div>