<%- model_class = Preferencia -%>
<div class="page-header">
  <h1>Preferencias de <%= @huesped.primer_nombre %></h1>
</div>

<%= form_tag request.path, :method => 'get' do %> 
 <%= content_tag :label do %> 
 Buscar Preferencia: 
 <%= text_field_tag :search, params[:search] %> 
 <%= submit_tag "Consultar", :name => nil, :class => 'btn' %> 
 <% end %> 
<br> 
Seleccione numero de registros por pagina:
<%= text_field_tag :limit, params[:limit] , :id=>'num'%> 
<%= submit_tag "Mostrar", :name => nil, :class => 'btn' %> 
<% end %> 

<br />

<table class="table table-striped table-bordered table-condensed pretty">
  <thead>
    <tr>
      <th><%= sortable 'id' %></th>
      <th> <%= sortable 'tiposdehabitacion_id'%> </th>
      <th> <%= sortable 'numero_almohada_en_cama' %> </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
     <%= render @preferencias %>
  </tbody>
  </table>
  <tfoot>
    <tr>
      <td><%= link_to 'Nueva Preferencia', new_huesped_preferencia_path, :remote => true %></td> | 
      <td> <%= link_to 'Huéspedes', huespedes_path %> </td>
    </tr>
  </tfoot>

<br>
<br /> 

<div align="center"> 
<%= will_paginate @preferencias, :previous_label => '&laquo; Anterior', :next_label => 'Siguiente
&raquo;' %> 
</div> 

<p> Total Preferencias : <%= @preferencias.total_entries %> </p>