<%= form_for @user do |f| %>
  <center><% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <br><br><br>


<div id ="login-boxr">
  <img id="img2" src="assets/logo.jpg">
  <div id ="txt">
  <h2>Registro</h2>
  <br>
  <div class="field">
    <%= f.label :Nombre_de_usuario %>
    <%= f.text_field :username %>
  </div>
  <div class="field">     
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :clave %>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :confirmar_clave %>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions"><%= submit_tag 'Crear Usuario', :class => 'btn btn-info' %></div></center>
</div>
</div>
<% end %>

<<<<<<< HEAD

<%= link_to "Inicio", sessions_path %>
=======
>>>>>>> bb8d897154d79e98d6ab07fcc0afb28f6a694602
