<%= simple_form_for @huesped, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :primer_nombre %>
  <%= f.input :segundo_nombre %>
  <%= f.input :primer_apellido %>
  <%= f.input :segundo_apellido %>
  <%= f.input :tipo_identificacion_id %>
  <%= f.input :documento %>
  <%= f.input :fecha_nacimiento %>
  <%= f.input :direccion %>
  <%= f.input :email %>
  <%= f.input :empleado_encargado_id %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                huespedes_path, :class => 'btn' %>
  </div>
<% end %>
