<%= simple_form_for([@empleado, @huesped], :html => { :class => 'form-horizontal', :multipart => true }, :remote => true) do |f| %>

  <%= f.input :primer_nombre, :label => 'Primer nombre' %>
  <%= f.input :segundo_nombre, :label => 'Segundo nombre' %>
  <%= f.input :primer_apellido, :label => 'Primer apellido' %>
  <%= f.input :segundo_apellido, :label => 'Segundo apellido' %>
  <div class = "span5">Tipo De Identificación <%= f.collection_select :tiposdeidentificacion_id, Tiposdeidentificacion.all, :id, :sigla, :prompt => 'Seleccionar' %></div>
  <br><br><br>
  <%= f.input :documento, :label => 'Documento' %>
  <%= f.input :fecha_nacimiento, :label => 'Fecha de nacimiento' %>
  <%= f.input :direccion, :label => 'Dirección' %>
  <%= f.input :email, :label => 'Email' %>

  <%= f.label :avatar %>
  <div class = "span2" ><%= image_tag @huesped.avatar.url(:thumb) %></div>
  <br>
  <%= f.file_field :avatar %>
  <br><br><br>

  <div class="form-actions">
    <%= f.submit "guardar", :class => 'btn btn-primary' %>
    <%= link_to 'Atras', empleado_huespedes_path, :class => 'btn btn-small' %>
  </div>
<% end %>