<%- model_class = Huesped -%>
<div class="page-header">
  <h1>Huéspedes a cargo de <%= @empleado.primer_nombre %></h1>
</div>

<div class='gen'>
  <p><b>Id:</b> <%= @huesped.id %></p>
  <p><b>Primer nombre:</b> <%= @huesped.primer_nombre %></p>
  <p><b>Segundo nombre:</b> <%= @huesped.segundo_nombre %></p>
  <p><b>Primer apellido:</b> <%= @huesped.primer_apellido %></p>
  <p><b>Segundo apellido:</b> <%= @huesped.segundo_apellido %></p>
  <p><b>Tipo de identificación:</b> <%= @huesped.tiposdeidentificacion_id %></p>
  <p><b>Documento:</b> <%= @huesped.documento %></p>
  <p><b>Fecha de nacimiento:</b> <%= @huesped.fecha_nacimiento %></p>
  <p><b>Dirección:</b> <%= @huesped.direccion %></p>
  <p><b>Email:</b> <%= @huesped.email %></p>

  <p><b>Foto :</b></p>
  <%= image_tag @huesped.avatar.url(:thumb) %>
</div>

<br>
<%= link_to "pdf", empleado_huesped_path(@huesped, :format => "pdf"), :class => 'btn' %>