<%- model_class = Huesped -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:primer_nombre) %>:</strong></dt>
  <dd><%= @huesped.primer_nombre %></dd>
  <dt><strong><%= model_class.human_attribute_name(:segundo_nombre) %>:</strong></dt>
  <dd><%= @huesped.segundo_nombre %></dd>
  <dt><strong><%= model_class.human_attribute_name(:primer_apellido) %>:</strong></dt>
  <dd><%= @huesped.primer_apellido %></dd>
  <dt><strong><%= model_class.human_attribute_name(:segundo_apellido) %>:</strong></dt>
  <dd><%= @huesped.segundo_apellido %></dd>
  <dt><strong><%= model_class.human_attribute_name(:tipo_identificacion_id_id) %>:</strong></dt>
  <dd><%= @huesped.tipo_identificacion_id_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:documento) %>:</strong></dt>
  <dd><%= @huesped.documento %></dd>
  <dt><strong><%= model_class.human_attribute_name(:fecha_nacimiento) %>:</strong></dt>
  <dd><%= @huesped.fecha_nacimiento %></dd>
  <dt><strong><%= model_class.human_attribute_name(:direccion) %>:</strong></dt>
  <dd><%= @huesped.direccion %></dd>
  <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
  <dd><%= @huesped.email %></dd>
  <dt><strong><%= model_class.human_attribute_name(:empleado_encargado_id_id) %>:</strong></dt>
  <dd><%= @huesped.empleado_encargado_id_id %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              huespedes_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_huesped_path(@huesped), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              huesped_path(@huesped),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
