<%= simple_form_for(@sugerenciasyqueja, :html => { :class => 'form-horizontal' }, :remote => true) do |f| %>

  <%= f.input :huesped_primer_nombre, :url => autocomplete_huesped_primer_nombre_sugerenciasyquejas_path, :label =>"Nombre", :as => 
:autocomplete, :id_element => '#id' %>

  <%= f.label :Comentarios_de_ultima_visita %>
  <div class = "span3">
  <%= f.text_area(:comentarios_ultima_visita, :size => "10x5")  %>
</div>
<br>
<br>
  <div class="row">
    <div class = "span5 offset3">Preferecia De Habitacion <%= f.collection_select :tiposdehabitacion_id, Tiposdehabitacion.all, :id, :tipo, :prompt => 'Seleccionar' %></div>

  </div>

     <%= f.input :ultima_cortesia, :label => "Última cortesia" %>

  <br>
  
  <div class="row">
	  <div class="form-actions">
	    <%= f.submit "guardar", :class => 'btn btn-primary' %>
	    <%= link_to 'Atras', sugerenciasyquejas_path, :class => 'btn btn-small' %>
	  </div>
</div>
<% end %>
