<%- model_class = Sugerenciasyqueja -%>
<div class="page-header">
  <h1>Sugerencias Y Quejas</h1>
</div>

<div class='gen'>
  <p><b>Id:</b> <%= @sugerenciasyqueja.id %></p>
  <p><b>Huésped:</b> <%= @sugerenciasyqueja.huesped_primer_nombre %></p>
  <p><b>Observaciones:</b> <%= @sugerenciasyqueja.observaciones %></p>
  <p><b>Problemas en la estadia:</b> <%= @sugerenciasyqueja.problemas_en_la_estadia %></p>
  <p><b>Sugerencias:</b> <%= @sugerenciasyqueja.sugerencias %></p>
</div>

<br>
<%= link_to "pdf", sugerenciasyqueja_path(@sugerenciasyqueja, :format => "pdf"), :class => 'btn' %>
