<tr id=<%= "sugerenciasyqueja_#{sugerenciasyqueja.id}" %>>
  <td><%= link_to sugerenciasyqueja.id, edit_sugerenciasyqueja_path(sugerenciasyqueja), :remote => true %></td>
  <td><%= sugerenciasyqueja.huesped_primer_nombre %></td>
  <td><%= sugerenciasyqueja.comentarios_ultima_visita %></td>
  <td><%= sugerenciasyqueja.tiposdehabitacion.tipo %></td>
  <td><%= sugerenciasyqueja.ultima_cortesia %></td>
  
  <td>
    <div class="btn-group">
      <button class="btn btn-mini btn-info"> Opciones </button>
      <button class="btn btn-mini btn-info dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" >

      <li><%= link_to 'Mostrar', sugerenciasyqueja, :remote => true, :class => 'btn btn-mini', :style => "color:black" %></li>

      <li><%= link_to 'Editar', edit_sugerenciasyqueja_path(sugerenciasyqueja), :remote => true, :class => 'btn btn-mini', :style => "color:black" %></li>

      <li><%= link_to 'Eliminar', sugerenciasyqueja,
        :data => { :confirm => 'Esta Seguro?' },
        :method => :delete, :remote => true, :class => 'btn btn-mini btn-danger', :style => "color:white" %></li>
        </ul>
    </div>
  </td>
</tr>
