<%- model_class = Sugerenciasyqueja -%>
<div class="page-header">
  <center><h1>Sugerencias Y Quejas</h1></center>
</div>

<form method="get" class="form-search">
  <div class="input-append">

      <%= text_field_tag :search, params[:search], :class => "span2 search-query ", :placeholder => "Buscar Registro" %> 

      <button type="submit" class="btn btn-info"><i class="icon-search"></i></button>
       
  </div>
</form>


<br> 

<form method="get" class="form-search">
  <div class="input-append">

    <%= content_tag :label do %> 

    Seleccione numero de registros por pagina

    <%= text_field_tag :limit, params[:limit] , :id=>'num', :class => "span1 search-query" %> 

    <% end %>

    <button type="submit" class="btn btn-info">Mostrar</button>
 
  </div>
</form>

<br />

<table class="table table-striped table-bordered table-condensed pretty">
  <thead>
    <tr>
      <th><%= sortable 'id' %></th>
      <th><%= sortable 'huesped_id' %></th>
      <th><%= sortable 'observaciones' %></th>
      <th><%= sortable 'problemas_en_la_estadia' %></th>
      <th><%= sortable 'sugerencias' %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
     <%= render @sugerenciasyquejas %>
  </tbody>
  </table>
  <tfoot>
    <tr>
      <td><%= link_to 'Nueva Sugerencia/Queja', new_sugerenciasyqueja_path, :remote => true, :class => "btn btn-info" %></td>
    </tr>
  </tfoot>

<hr>

<div class="flickr_pagination" > 
  <div class="page_info">
      <p><b> Total Sugerencias/Quejas :</b> <%= @sugerenciasyquejas.total_entries %> </p>
    </div>
    <%= will_paginate @sugerenciasyquejas, :container => false, :previous_label => '&larr; Anterior', :next_label => 'Siguiente &rarr;' %>
  </div>