<%= simple_form_for(@visita, :html => { :class => 'form-horizontal' }, :remote => true) do |f| %>

  <%= f.input :obsequio_id, :label => "Obsequio" %>
  <%= f.input :empleado_id, :label => "Empleado" %>
  <%= f.input :empresa_id, :label => "Empresa" %>
  <%= f.input :fecha, :label => "Fecha" %>
  <%= f.input :comentarios, :label => "Comentarios" %>
 
   <div class="form-actions">
    <%= f.submit "guardar", :class => 'btn btn-primary' %>
    <%= link_to 'Atras', visitas_path, :class => 'btn btn-small' %>
  </div>
<% end %>
