<%- model_class = Visita-%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<div class='visita'>
  <p><b>Id:</b> <%= @visita.id %></p>
  <p><b>Empleado:</b> <%= @visita.empleado_primer_nombre %></p>
  <p><b>Empresa:</b> <%= @visita.empresa.nombre %></p>
  <p><b>Comentarios:</b> <%= @visita.comentarios %></p>
  <p><b>Fecha:</b> <%= @visita.created_at %></p>
 
 
</div>

<td><%= link_to image_tag("pdf.png"), visita_path(@visita, :format => "pdf") %></td>