<tr id=<%= "visita_#{visita.id}" %>>
  <td><%= visita.id %></td>
  <td><%= visita.obsequio_id %></td>
  <td><%= visita.empleado_id %></td>
  <td><%= visita.empresa_id %></td>
  <td><%= visita.fecha %></td>
  <td><%= visita.comentarios %></td>
 
  <td>
    <div class="btn-group">
      <button class="btn btn-mini btn-info"> Opciones </button>
      <button class="btn btn-mini btn-info dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" >

      <li><%= link_to 'Mostrar', visita, :remote => true, :class => 'btn btn-mini', :style => "color:black" %></li>

      <li><%= link_to 'Editar', edit_visita_path(visita), :remote => true, :class => 'btn btn-mini', :style => "color:black" %></li>

      <li><%= link_to 'Eliminar', visita, 
        :data => { :confirm => 'Esta Seguro?' },
        :method => :delete, :remote => true, :class => 'btn btn-mini btn-danger', :style => "color:white" %></li>
        </ul>
    </div>
  </td>
</tr>
