<tr id=<%= "visita_#{visita.id}" %>>
  <td><%= visita.id %></td>
  <td><%= visita.obsequio_id %></td>
  <td><%= visita.empleado_id %></td>
  <td><%= visita.empresa.nombre %></td>
  <td><%= visita.fecha %></td>
  <td><%= visita.comentarios %></td>
 
  <td>
    <%= link_to 'Mostrar', visita, :remote => true, :class => 'btn btn-success btn-mini' %>
    <%= link_to 'Editar', edit_visita_path(visita), :remote => true,
        :class => 'btn btn-mini' %>
    <%= link_to 'Eliminar', visita, 
        :data => { :confirm => 'Esta Seguro?' },
        :method => :delete, :remote => true, :class => 'btn btn-mini btn-danger' %>
  </td>
</tr>
