<tr id=<%= "visita_#{visita.id}" %>>
  <td><%= visita.id %></td>
<<<<<<< HEAD
=======
  <td><%= visita.obsequio %></td>
>>>>>>> 7af67e025f6dcd0df949761ad34a01b106dc673c
  <td><%= visita.empleado_primer_nombre %></td>
  <td><%= visita.empresa.nombre%></td>
  <td><%= visita.comentarios %></td>
  <td><%= visita.created_at %></td> 
 
  <td>
    <div class="btn-group">
      <button class="btn btn-mini btn-info"> Opciones </button>
      <button class="btn btn-mini btn-info dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" >

      <li><%= link_to 'Mostrar', visita, :remote => true, :class => 'btn btn-mini', :style => "color:black" %></li>

      <li><%= link_to 'Editar', edit_visita_path(visita), :remote => true, :class => 'btn btn-mini', :style => "color:black" %></li>

      <li><%= link_to 'Eliminar', visita, 
        :data => { :confirm => 'Esta Seguro?' },
        :method => :delete, :remote => true, :class => 'btn btn-mini btn-danger', :style => "color:white" %></li>
        </ul>

        <td><%= link_to 'Historial', visita_ultimavisitas_path(visita), :class => "btn btn-mini", :style => "color:black"  %></td>

    </div>
  </td>
</tr>

