<%- model_class = Visita -%>
<%= javascript_include_tag "visitas" %>

<script type="text/javascript">
$(function() {
    $(".datepicker").datepicker();
});
</script>


<div class="page-header">
  <center><h1>Visitas</h1></center>
</div>


<form method="get" class="form-search">
  <div class="input-append">

    <%= content_tag :label do %> 
    <%= text_field_tag :limit, params[:limit] , :id=>'num', :class => "span1 search-query" %> 
    <% end %>
    <button type="submit" class="btn btn-info">Mostrar</button>

  </div>
</form>


<a href="#" class="most_busq_reg search_reg"> <span class="icon-th-list"></span>  Búscar Registro</a>

<div class="busq_reg_oculto">
  <form method="get" class="form-search">
    <div class="input-append">

      <%= text_field_tag :search, params[:search], :class => "span2 search-query ", :placeholder => "Buscar Registro" %> 
      <button type="submit" class="btn btn-info"><i class="icon-search"></i></button>
         
    </div>
  </form>
</div>


<a href="#" class="most_busq_fech search_fech"><span class="icon-calendar"></span>  Búscar Entre Fechas</a>

<div class="busq_fech_oculto">
<form method = "get">
  <div class="input-apped">
    <b>Desde: </b>
    <%= text_field_tag :created_at, params[:created_at], :class => "span2 search-query datepicker", :placeholder => "Fecha Inicial" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <b>Hasta: </b>
    <%= text_field_tag :created_at2, params[:created_at2], :class => "span2 search-query datepicker", :placeholder => "Fecha Final" %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    <%= submit_tag "Buscar", :class => 'btn btn-info' %>
  </div>
</form>
</div>


<br>

<table class="table table-hover table-bordered table-condensed pretty">
  <thead>
    <tr>
      <th><%= sortable 'id' %></th>
      <th><%= sortable 'obsequio' %></th>
      <th><%= sortable 'empleado_id' %></th>
      <th><%= sortable 'empresa_id' %></th>
      <th><%= sortable 'comentarios' %></th>
      <th><%= sortable 'created_at', :Fecha %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
     <%= render @visitas %>
  </tbody>
  </table>
  <tfoot>
    <tr>
      <td><%= link_to 'Nueva Visita', new_visita_path, :remote => true, :class => "btn btn-info", :style => "color:white" %></td>
    </tr>
  </tfoot>

<hr>

<div class="flickr_pagination" > 
  <div class="page_info">
      <p><b> Total Visitas :</b> <%= @visitas.total_entries %> </p>
    </div>
    <%= will_paginate @visitas, :container => false, :previous_label => '&larr; Anterior', :next_label => 'Siguiente &rarr;' %>
</div>
