<tr id=<%= "empleado_#{empleado.id}" %>>
  <td><%= link_to empleado.id, edit_empleado_path(empleado), :remote => true %></td>
  <td><%= image_tag empleado.avatar.url(:thumb) %></td>
  <td><%= empleado.cargo.descripcion %></td>
  <td><%= empleado.primer_nombre %></td>
  <td><%= empleado.segundo_nombre %></td>
  <td><%= empleado.apellido %></td>
  <td><%= empleado.documento %></td>
  <td><%= empleado.departamento.nombre %></td>


  <td>
  <div class="btn-group">
      <button class="btn btn-mini btn-info"> Más datos </button>
      <button class="btn btn-mini btn-info dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" >


      <li><%= link_to 'Empresas', empleado_empresas_path(empleado), :class => "btn btn-mini", :style => "color:black" %></li>

       </ul>
    </div>
  </td>

  
  <td>
    <div class="btn-group">
      <button class="btn btn-mini btn-info"> Opciones </button>
      <button class="btn btn-mini btn-info dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" >

      <li><%= link_to 'Mostrar', empleado, :remote => true, :class => 'btn btn-mini', :style => "color:black" %></li>

      <li><%= link_to 'Editar', edit_empleado_path(empleado), :remote => true,
        :class => 'btn btn-mini', :style => "color:black" %></li>

      <li><%= link_to 'Eliminar', empleado, 
        :data => { :confirm => 'Esta Seguro?' },
        :method => :delete, :remote => true, :class => 'btn btn-mini btn-danger', :style => "color:white" %></li>
        </ul>
    </div>
  </td>
</tr>
