<%= simple_form_for(@empleado, :html => { :class => 'form-horizontal', :multipart => true }, :remote => true) do |f| %>

  <%= f.error_notification %>
 

  <%= f.label :cargo_id %> 
 <div class = "span4"> <%= f.collection_select :cargo_id, Cargo.all, :id, :descripcion, :prompt => 'Seleccionar' %> </div>
 <br><br><br>

  <%= f.label :Foto %>
<div class="span2">
  <%= image_tag @empleado.avatar.url(:small) %>
</div>
  <br>
 <%= f.file_field :avatar %>
 <br><br><br>
  
  <%= f.input :primer_nombre, :label => "Primer Nombre",  :required => true %>
  <%= f.input :segundo_nombre, :label => "Segundo Nombre",  :required => true %>
  <%= f.input :primer_apellido, :label => "Primer Apellido",  :required => true %>
  <%= f.input :segundo_apellido, :label => "Segundo Apellido",  :required => true %>

  <%= f.label :tiposdeidentificacion_id %> 
 <div class = "span4"> <%= f.collection_select :tiposdeidentificacion_id, Tiposdeidentificacion.all, :id, :sigla, :prompt => 'Seleccionar' %> </div>
 <br><br><br>


  <%= f.input :documento, :label => "Documento",  :required => true %>

  <%= f.label :departamento_id %> 
 <div class = "span4"> <%= f.collection_select :departamento_id, Departamento.all, :id, :nombre, :prompt => 'Seleccionar' %>

  </div>
 <br><br><br>
  
  
 
   <div class="form-actions">
    <%= f.submit "guardar", :class => 'btn btn-primary' %>
    <%= link_to 'Atras', empleados_path, :class => 'btn btn-small' %>
  </div>
<% end %>
