<%= simple_form_for(@empleado, :html => { :class => 'form-horizontal' }, :remote => true) do |f| %>

  <%= f.error_notification %>
 

  <%= f.input :cargo_id, :label => "Cargo" %>
  <%= f.input :primer_nombre, :label => "Primer Nombre" %>
  <%= f.input :segundo_nombre, :label => "Segundo Nombre" %>
  <%= f.input :primer_apellido, :label => "Primer Apellido" %>
  <%= f.input :segundo_apellido, :label => "Segundo Apellido" %>
  <%= f.input :tipo_identificacion_id, :label => "tipo de documentacion" %>
  <%= f.input :documento, :label => "Documento" %>
  <%= f.input :departamento_id %>
  
  
 
   <div class="form-actions">
    <%= f.submit "guardar", :class => 'btn btn-primary' %>
    <%= link_to 'Atras', empleados_path, :class => 'btn btn-small' %>
  </div>
<% end %>
