<%- model_class = Empleado-%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<div class='empleado'>
  <p><b>Id:</b> <%= @empleado.id %></p>
  <p><b>Cargo:</b> <%= @empleado.cargo.descripcion %></p>
  <p><b>Primer Nombre:</b> <%= @empleado.primer_nombre %></p>
  <p><b>Segundo Nombre:</b> <%= @empleado.segundo_nombre %></p>
  <p><b>Primer Apellido:</b> <%= @empleado.primer_apellido %></p>
  <p><b>Segundo Apellido:</b> <%= @empleado.segundo_apellido %></p>
  <p><b>Tipo de identificación:</b> <%= @empleado.tiposdeidentificacion.descripcion %></p>
  <p><b>Documento:</b> <%= @empleado.documento %></p>
  <p><b>Departamento:</b> <%= @empleado.departamento.nombre %></p>
 
 <p><b>Foto :</b></p>
  <%= image_tag @empleado.avatar.url(:thumb) %>
 
</div>

<td><%= link_to image_tag("pdf.png"), empleado_path(@empleado, :format => "pdf") %></td>
