<%= simple_form_for(@zona, :html => { :class => 'form-horizontal' }, :remote => true) do |f| %>
 
  <%= f.input :codigo, :label => "Codigo" %>
  <%= f.input :lugar, :label => "Lugar" %>
 
   <div class="form-actions">
    <%= f.submit "guardar", :class => 'btn btn-primary' %>
    <%= link_to 'Atras', cargos_path, :class => 'btn btn-small' %>
  </div>
<% end %>
