<%= simple_form_for(@tiposdehabitacion, :html => { :class => 'form-horizontal' }, :remote => true) do |f| %>

  <%= f.input :nombre %>
  <%= f.input :descripcion, :label => "Descripción" %>
  <%= f.input :piso %>
  <%= f.input :numero_de_habitacion %>
  
  
  <div class="form-actions">
    <%= f.submit "guardar", :class => 'btn btn-primary' %>
    <%= link_to 'Atras', tiposdehabitaciones_path, :class => 'btn btn-small' %>
  </div>
<% end %>
