<%= simple_form_for(@tiposdehabitacion, :html => { :class => 'form-horizontal' }, :remote => true) do |f| %>

 <%= f.error_notification %>

  <%= f.input :tipo %>
  
  
  
  <div class="form-actions">
    <%= f.submit "guardar", :class => 'btn btn-primary' %>
    <%= link_to 'Atras', tiposdehabitaciones_path, :class => 'btn btn-small' %>
  </div>
<% end %>
