<%- model_class = Tiposdehabitacion -%>
<div class="page-header">
  <h1>Tipos De Habitaciones</h1>
</div>

<div class='gen'>
  <p><b>Id:</b> <%= @tiposdehabitacion.id %></p>
  <p><b>Nombre:</b> <%= @tiposdehabitacion.tipo %></p>
  <p><b>Descripción:</b> <%= @tiposdehabitacion.descripcion %></p>
  <p><b>Piso:</b> <%= @tiposdehabitacion.amenidades %></p>
  <p><b>Número de habitación:</b> <%= @tiposdehabitacion.numero_de_habitacion %></p>
  
</div>

<br>
<%= link_to "pdf", tiposdehabitacion_path(@tiposdehabitacion, :format => "pdf"), :class => 'btn' %>