<tr id=<%= "tiposdehabitacion_#{tiposdehabitacion.id}" %>>
  <td><%= link_to tiposdehabitacion.id, edit_tiposdehabitacion_path(tiposdehabitacion), :remote => true %></td>
  <td><%= tiposdehabitacion.nombre%></td>
  <td><%= tiposdehabitacion.descripcion %></td>
  <td><%= tiposdehabitacion.piso %></td>
  <td><%= tiposdehabitacion.numero_de_habitacion %></td>
 
 <td>
    <div class="btn-group">
      <button class="btn btn-mini btn-info"> Opciones </button>
      <button class="btn btn-mini btn-info dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" >

    <li><%= link_to 'Mostrar', tiposdehabitacion, :remote => true, :class => 'btn btn-mini', :style => "color:black" %></li>
    
    <li><%= link_to 'Editar', edit_tiposdehabitacion_path(tiposdehabitacion), :remote => true,
        :class => 'btn btn-mini', :style => "color:black" %></li>
    
    <li><%= link_to 'Eliminar', tiposdehabitacion,
        :data => { :confirm => 'Esta Seguro?' },
        :method => :delete, :remote => true, :class => 'btn btn-mini btn-danger', :style => "color:white" %></li>
        </ul>
    </div>
  </td>
</tr>
