<tr id=<%= "telefono_#{telefono.id}" %>>
  <td><%= telefono.id %></td>
  <td><%= telefono.numero_telefonico %></td>
 
  <td>
    <%= link_to 'Mostrar',empleado_telefono_path(@empleado, telefono), :remote => true, :class => 'btn btn-success btn-mini' %></td>
    <td><%= link_to 'Editar',edit_empleado_telefono_path(@empleado, telefono), :remote => true,
        :class => 'btn btn-mini' %> </td>
    <td><%= link_to 'Eliminar',empleado_telefono_path(@empleado,  telefono), 
        :data => { :confirm => 'Esta Seguro?' },
        :method => :delete, :remote => true, :class => 'btn btn-mini btn-danger' %> </td>
</tr>
