<%- model_class = Telefono -%>
<div class="page-header">
<<<<<<< HEAD

  <h1>Listado de Telefono de: <%= @empleado.primer_nombre %></h1>
=======
  <h1>Teléfonos de <%= @huesped.primer_nombre %></h1>
  <br><br>
</div>
>>>>>>> 2d302407786e22f7976665e2b1d8fac36cfe483b

 <%= form_tag request.path, :method => 'get' do %> 
 <%= content_tag :label do %> 
 Numero Telefonico: 
 <%= text_field_tag :search, params[:search] %> 
 <%= submit_tag "Consultar", :name => nil %> 
 <% end %> 

 <br>
Seleccione numero de registros por pagina:
<%= text_field_tag :limit, params[:limit] , :id=>'num'%> 
<%= submit_tag "Mostrar", :name => nil, :class => 'btn' %> 
<% end %> 
</br>
</div>
 
<br />
</div>
<table class="table table-striped table-bordered table-condensed pretty">
  <thead>
    <tr>
      <th><%= sortable 'id' %></th>
      <th><%= sortable 'numero_telefonico' %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
     <%= render @telefonos %>
  </tbody>
  
</table>
<tfoot>
    <tr>
<<<<<<< HEAD
      <td><%= link_to 'Nuevo Telefono', new_empleado_telefono_path, :remote => true %>
      <%= link_to 'Empleados', empleados_path %>
      </td>

=======
      <td><%= link_to 'Nuevo Telefono',new_huesped_telefono_path, :remote => true %></td> | 
      <td><%= link_to 'Huéspedes', huespedes_path %></td>
>>>>>>> 2d302407786e22f7976665e2b1d8fac36cfe483b
    </tr>
  </tfoot>

<br /> 
<br /> 
<div align="center"> 
 <%= will_paginate @telefonos, :previous_label => '&laquo; Anterior', :next_label => 'Siguiente
&raquo;' %> 
</div> 
<p> 
 Total Telefonos : <%= @telefonos.total_entries %> 
</p>

