<%= simple_form_for([@huesped, @cortesia], :html => { :class => 'form-horizontal' }, :remote => true) do |f| %>
<%= javascript_include_tag "cortesias" %>

  <%= f.input :fecha, :label => "Fecha", :input_html => { :class => 'datepicker' } %>


  <%= f.input :tipo_de_cortesia %>

  <div class="form-actions">
    <%= f.submit "guardar", :class => 'btn btn-primary' %>
  </div>
<% end %>