<%= simple_form_for(@alimento, :html => { :class => 'form-horizontal' }, :remote => true) do |f| %>

  <%= f.input :id, :label => "Id" %>
  <%= f.input :descripcion, :label => 'Descripcion' %>
  <div class="form-actions">
    <%= f.submit "guardar", :class => 'btn btn-primary' %>
    <%= link_to 'Atras', alimentos_path, :class => 'btn btn-small' %>
  </div>
<% end %>