<tr id=<%= "empresa_#{empresa.id}" %>>
  <td><%= empresa.id %></td>
  <td><%= empresa.nombre %></td>
  <td><%= empresa.nit %></td>
  <td><%= empresa.direccion %></td>
  
 
 
  <td>
    <div class="btn-group">
      <button class="btn btn-mini btn-info"> Opciones </button>
      <button class="btn btn-mini btn-info dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" >

        <li><%= link_to 'Mostrar', empleado_empresa_path(@empleado, empresa), :remote => true, :class => 'btn btn-mini', :style => "color:black" %></li>

        <li><%= link_to 'Editar', edit_empleado_empresa_path(@empleado, empresa), :remote => true, :class => 'btn btn-mini', :style => "color:black" %></li>

        <li><%= link_to 'Eliminar', empleado_empresa_path(@empleado, empresa), :data => { :confirm => 'Esta Seguro?' },
          :method => :delete, :remote => true, :class => 'btn btn-mini btn-danger', :style => "color:white" %></li>
      </ul>
      <td><%= link_to 'Contactos', empleado_empresa_contactos_path(@empleado, empresa), :class => "btn btn-mini", :style => "color:black" %></td>

  </td>
</tr>
