<tr id=<%= "empresa_#{empresa.id}" %>>
  <td><%= empresa.id %></td>
  <td><%= empresa.nombre %></td>
  <td><%= empresa.nit %></td>
  <td><%= empresa.direccion %></td>
 
 
  <td>
    <%= link_to 'Mostrar', empresa, :remote => true, :class => 'btn btn-success btn-mini' %>
    <%= link_to 'Editar', edit_empresa_path(empresa), :remote => true,
        :class => 'btn btn-mini' %>
    <%= link_to 'Eliminar', empresa, 
        :data => { :confirm => 'Esta Seguro?' },
        :method => :delete, :remote => true, :class => 'btn btn-mini btn-danger' %>
  </td>
</tr>
