<%= simple_form_for([@empleado, @empresa], :html => { :class => 'form-horizontal' }, :remote => true) do |f| %>

 

  <%= f.input :nombre, :label => "Nombre" %>
  <%= f.input :nit, :label => "Nit" %>
  <%= f.input :direccion, :label => "Direccion" %>
  
  
  
 
   <div class="form-actions">
    <%= f.submit "guardar", :class => 'btn btn-primary' %>
    <%= link_to 'Atras', empleado_empresas_path, :class => 'btn btn-small' %>
  </div>
<% end %>

