<%- model_class = Empresa -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<div class='empresa'>
  <p><b>Id:</b> <%= @empresa.id %></p>
  <p><b>Nombre:</b> <%= @empresa.nombre %></p>
  <p><b>Nit:</b> <%= @empresa.nit %></p>
  <p><b>Dirección:</b> <%= @empresa.direccion %></p>
  <p><b>Telefono:</b> <%= @empresa.telefono %></p>
  <p><b>Zona:</b> <%= @empresa.zona.lugar %></p>
</div>

<td><%= link_to image_tag("pdf.png"), empleado_empresa_path(@empresa, :format => "pdf"), :target => "_blank" %></td>

