<%- model_class = Empresa -%>
<div class="page-header">
  <center><h1>Listado De Empresas De: <%= @empleado.primer_nombre %></h1>
</center>
</div>

<form method="get" class="form-search">
  <div class="input-append">

      <%= text_field_tag :search, params[:search], :class => "span2 search-query ", :placeholder => "Buscar Registro" %> 

      <button type="submit" class="btn btn-info"><i class="icon-search"></i></button>
       
  </div>
</form>


<br> 

<form method="get" class="form-search">
  <div class="input-append">

    <%= content_tag :label do %> 

    Seleccione numero de registros por pagina

    <%= text_field_tag :limit, params[:limit] , :id=>'num', :class => "span1 search-query" %> 

    <% end %>

    <button type="submit" class="btn btn-info">Mostrar</button>
 
  </div>
</form>

<br /><br />

<table class="table table-hover table-bordered table-condensed pretty">
  <thead>
    <tr>
       <th><%= sortable 'id' %></th>
       <th><%= sortable 'nombre' %></th>
       <th><%= sortable 'nit' %></th>
       <th><%= sortable 'direccion' %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
     <%= render @empresas %>
  </tbody>
  </table>
  <tfoot>
    <tr>
      <td><%= link_to 'Nueva empresa', new_empleado_empresa_path, :remote => true, :class => "btn btn-info", :style => "color:white" %></td>

      <td><%= link_to 'Volver a empleados', empleados_path,:class => "btn btn-info", :style => "color:white" %></td>

    </tr>
  </tfoot>

<hr>

<div class="flickr_pagination" > 
  <div class="page_info">
      <p><b> Total Empresas :</b> <%= @empresas.total_entries %> </p>
    </div>
    <%= will_paginate @empresas, :container => false, :previous_label => '&larr; Anterior', :next_label => 'Siguiente &rarr;' %>
</div>

