<!DOCTYPE html>
<html>
<head>
  <title>Witcrm</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>



<div class="container">

    <div class="user_nav">
      <% if current_user %>

      <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">
              
                <ul class="nav">
                  <li class= "dropdown">

                    <a class = "dropdown-toggle btn-large" data-toggle = "dropdown" href = ""><i class="icon-book"></i> Calidad </a> 

                    <ul class="dropdown-menu">

                     <li><%= link_to "Alimentos", alimentos_path %></li>
                     <li><%= link_to "Sugerencias y quejas", sugerenciasyquejas_path %></li>
                     <li><%= link_to "Tipos de habitaciones", tiposdehabitaciones_path %></li>
                     <li><%= link_to "Tipos de identificaciones", tiposdeidentificaciones_path %></li>

                    </ul>
                  </li>
                </ul>    
             


              
                <ul class="nav">
                  <li class= "dropdown">

                    <a class = "dropdown-toggle btn-large" data-toggle = "dropdown" href = ""><i class="icon-folder-open"></i> Mercadeo </a> 

                    <ul class="dropdown-menu">
                      <li><%= link_to "Cargos", cargos_path %></li>
                      
                      <li><%= link_to "Departamentos", departamentos_path %></li>
                      <li><%= link_to "Empleados", empleados_path %></li>
                      
                      <li><%= link_to "Obsequios", obsequios_path %></li>
                      <li><%= link_to "Visitas", visitas_path %></li>

                    </ul>
                  </li>
                </ul>

                <ul>
                  <div align="right"><font size="4"><i class="icon-user"></i> <b><%= current_user.username %></b> </font>

                    <div class="btn-group">
                      <button class="btn btn-mini btn-info dropdown-toggle " data-toggle="dropdown">
                      <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu pull-right" >
                        <li>
                          <%= link_to "Salir", logout_path, :style => 'font-size:15px; color:black' %> 
                        </li>
                      </ul>
               
                  </div>
                </ul>
            </div>
          </div>
        </div>
    </div>


      <% else %>  

        
      <% end %>
    
    <br>
    <% flash.each do |name, msg| %>
      <div class="alert alert-info">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      </div>
    <% end %>
</div>


<div class="container">
  <div class="row">
    <div class="span9"><%= yield %></div>
  </div>
</div>

</body>
</html>
